mixin card(src, alt, srcAvatar, altAvatar, name,projects,form,date)
  .card.item_scroll.mb-5
    .mask_img.item__img-wrap.link
      img(class="item__img" src=src, alt=alt)
      .caption.d-flex.align-items-center.p-md-3.p-2
        a(href="profile.html").avatar
          img(src=srcAvatar, alt=altAvatar)
        .box.mr-2
          h4(class="m-0 name")=name
          p(class="m-0 projects")
            span=projects
            span.mx-1 مشروع   
          h5(class="m-0 form")=form
      .overlay.p-3
        .btns_top.d-flex.justify-content-end
          a(href="#" class="d-inline-block px-3 py-2 mx-1"): i.flaticon-app.fi
          a(href="#" class="d-inline-block px-3 py-2 mx-1")
            i.flaticon-like.fi.mr-2
            span 35
    .caption_down
      h4.title.my-md-3.my-1 وردبربس لشركة طبيبة
      h.date.my-2.my-md-3 3 فبراير 2018
      p.para.mt-2.mb-0 تطوير موقع باستخدام الوردبريس 

mixin cardWinners(src, alt, srcAvatar, altAvatar, name,projects,form,date)
  .card.item_scroll.mb-5
    .mask_img.item__img-wrap.link
      img(class="item__img" src=src, alt=alt)
      .caption.d-flex.align-items-center.p-md-3.p-2
        a(href="profile.html").avatar
          img(src=srcAvatar, alt=altAvatar)
        .box.mr-2
          h4(class="m-0 name")=name
          p(class="m-0 projects")
            span=projects
            span.mx-1 مشروع   
          h5(class="m-0 form")=form
      .overlay.p-3
        .btns_top.d-flex.justify-content-end
          a(href="#" class="d-inline-block px-3 py-2 mx-1"): i.flaticon-app.fi
          a(href="#" class="d-inline-block px-3 py-2 mx-1")
            i.flaticon-like.fi.mr-2
            span 35
          a(href="#" class="d-inline-block link px-3 py-2 mx-1" data-hover="شارك"): i.flaticon-share.fi
    .caption_down
      .row.no-gutters
        .col-6
          h4.title.my-md-3.my-1 وردبربس لشركة طبيبة
          h5.date.my-2.my-md-3=date
        .col-6
          ul.my-md-2.my-1.p-0.d-flex.justify-content-end.flex-wrap
            li.mx-md-2.m-2: i(data-hover="شرفية").dislink.flaticon-honor-band-mention.fi
            li.mx-md-2.m-2: i(data-hover="فائز اليوم").dislink.flaticon-medal.fi
            li.mx-md-2.m-2: i(data-hover="موبايل الأسبوع").dislink.flaticon-coding1.fi
            li.mx-md-2.m-2: i(data-hover="موقع مطور").dislink.flaticon-coding.fi

mixin swiper(src, alt, srcAvatar, altAvatar, name,projects,form,date)
  .card.item.item_scroll.swiper-slide
    .mask_img.item__img-wrap.link
      img(class="item__img" src=src, alt=alt)
      .caption.d-flex.align-items-center.p-md-3.p-2
        a(href="profile.html").avatar
          img(src=srcAvatar, alt=altAvatar)
        .box.mr-2
          h4(class="m-0 name")=name
          p(class="m-0 projects")
            span=projects
            span.mx-1 مشروع   
          h5(class="m-0 form")=form
      .overlay.p-3
        .btns_top.d-flex.justify-content-end
          a(href="#" class="d-inline-block link px-3 py-2 mx-1" data-hover="أضافه في مجموعتي"): i.flaticon-app.fi
          a(href="#" class="d-inline-block link px-3 py-2 mx-1" data-hover="أعجبني")
            i.flaticon-like.fi.mr-2
            span 35
          a(href="#" class="d-inline-block link px-3 py-2 mx-1" data-hover="شارك"): i.flaticon-share.fi

    .caption_down
      .row.no-gutters
        .col-6
          h4.title.my-md-3.my-1 وردبربس لشركة طبيبة
          h5.date.my-2.my-md-3=date
        .col-6
          ul.my-md-2.my-1.p-0.d-flex.justify-content-end.flex-wrap
            li.mx-md-2.m-2: i(data-hover="شرفية").dislink.flaticon-honor-band-mention.fi
            li.mx-md-2.m-2: i(data-hover="فائز اليوم").dislink.flaticon-medal.fi
            li.mx-md-2.m-2: i(data-hover="موبايل الأسبوع").dislink.flaticon-coding1.fi
            li.mx-md-2.m-2: i(data-hover="موقع مطور").dislink.flaticon-coding.fi

mixin swiperNominees(src, alt, srcAvatar, altAvatar, name,projects,form,date)
  .card.item.item_scroll.swiper-slide
    .mask_img.item__img-wrap.link
      img(class="item__img" src=src, alt=alt)
      .caption.d-flex.align-items-center.p-md-3.p-2
        a(href="profile.html").avatar
          img(src=srcAvatar, alt=altAvatar)
        .box.mr-2
          h4(class="m-0 name")=name
          p(class="m-0 projects")
            span=projects
            span.mx-1 مشروع   
          h5(class="m-0 form")=form
      .overlay.p-3
        .btns_top.d-flex.justify-content-end
          a(href="#" class="d-inline-block link px-3 py-2 mx-1" data-hover="أضافه في مجموعتي"): i.flaticon-app.fi
          a(href="#" class="d-inline-block link px-3 py-2 mx-1" data-hover="أعجبني")
            i.flaticon-like.fi.mr-2
            span 35
          a(href="#" class="d-inline-block link px-3 py-2 mx-1" data-hover="شارك"): i.flaticon-share.fi
          a(href="#" class="d-inline-block vote px-4 py-2 px-lg-5 py-lg-3") !صوت الآن
    .caption_down
      h4.title.my-md-3.my-1 وردبربس لشركة طبيبة
      h5.date.my-2.my-md-3=date

mixin cardNominees(src, alt, srcAvatar, altAvatar, name,form,date)
  .card.item_scroll.mb-5
    .mask_img.item__img-wrap.link
      img(class="item__img" src=src, alt=alt)
      .caption.d-flex.align-items-center.p-md-3.p-2
        a(href="profile.html").avatar
          img(src=srcAvatar, alt=altAvatar)
        .box.mr-2
          h4(class="m-0 name")=name
          h5(class="m-0 form")=form
      .overlay.p-3
        .btns_top.d-flex.justify-content-end
          a(href="#" class="d-inline-block link px-3 py-2 mx-1" data-hover="أضافه في مجموعتي"): i.flaticon-app.fi
          a(href="#" class="d-inline-block link px-3 py-2 mx-1" data-hover="أعجبني")
            i.flaticon-like.fi.mr-2
            span 35
          a(href="#" class="d-inline-block vote px-5 py-3 mx-1") !صوت الآن
    .caption_down
      h4.title.my-md-3.my-1 وردبربس لشركة طبيبة
      h5.date.my-2.my-md-3=date

mixin cardCollection(src, alt, srcAvatar, altAvatar, name,form,date)
  .card.item_scroll.mb-5
    .mask_img.item__img-wrap.link
      img(class="item__img" src=src, alt=alt)
      .caption.p-md-3.p-2
        .row.no-gutters.align-items-center.justify-content-between.flex-wrap
          .col-md-6
            .d-flex.align-items-center
              a(href="profile.html").avatar
                img(src=srcAvatar, alt=altAvatar)
              .box.mr-2
                h4(class="m-0 name")=name
                h5(class="m-0 form")=form
          .col-md-6
            .followers.position
              ul.p-0.m-0.d-flex.flex-wrap.justify-content-end
                - for (let x = 0; x < 3; x++)
                    li.mx-1.user_overflow: a(href="#" class="link d-block"): img(src="assets/images/users/4.jpg", alt="")
                li.more_users.m-1: a(href="#" class="link d-flex align-items-center justify-content-center")
                  i.flaticon-user.fi
                  span.num 23
        
      .overlay.p-3
        .btns_top.d-flex.justify-content-end
    .caption_down
      .row.no-gutters
        .col-6
          h4.title.my-md-3.my-1 وردبربس لشركة طبيبة
          h5.date.my-2.my-md-3=date
        .col-6
          ul.my-md-2.my-1.p-0.d-flex.justify-content-end.flex-wrap
            li.mx-md-2.m-2: i(data-hover="شرفية",).dislink.flaticon-honor-band-mention.fi
            li.mx-md-2.m-2: i(data-hover="فائز اليوم",).dislink.flaticon-medal.fi
            li.mx-md-2.m-2: i(data-hover="موبايل الأسبوع",).dislink.flaticon-coding1.fi
            li.mx-md-2.m-2: i(data-hover="موقع مطور",).dislink.flaticon-coding.fi


mixin proCardWinners(src, alt, srcAvatar, altAvatar, name,projects,form)
  .card.item_scroll.mb-5
    .mask_img.item__img-wrap.link
      img(class="item__img" src=src, alt=alt)
      .caption.d-flex.align-items-center.p-3
        .avatar
          img(src=srcAvatar, alt=altAvatar)
        .box.mr-2
          h4(class="m-0 name")=name
          p(class="m-0 projects")
            span=projects
            span.mx-1 مشروع   
          h5(class="m-0 form")=form
      .overlay.p-3
        .btns_top.d-flex.justify-content-end
          a(href="#" class="d-inline-block px-3 py-2 mx-1"): i.flaticon-app.fi
          a(href="#" class="d-inline-block px-3 py-2 mx-1")
            i.flaticon-heart.fi.mr-2
            span 35

    .caption_down
      h4.title.my-1 وردبربس لشركة طبيبة
      p.para.mt-2.mb-0 تطوير موقع باستخدام الوردبريس لشركة طبية في تركيا، الموقع متعدد اللغات